<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLE_SIGN_IN_ENABLED</key>
	<false/>
	<key>LIVE_COACH_VOICE_ENABLED</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth access is used to connect to live heart-rate sensors during workouts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access lets you talk to Coachi in live post-workout voice sessions.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
